body {
  color: #393b44;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

hr {
  margin: 50px auto;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: #495464;
  height: 0;
  width: 5%;
}

p {
  font-size: 1rem;
  line-height: 2;

}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin-bottom: 10px;
  color: #393b44;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #393b44;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #8d93ab;
}

.intro {
  width: 50%;
  margin: auto;
}

.dp {
  margin: 100px auto 50px;
  border-radius: 50%;
  width: 25%;
}

.subtitle {
  font-weight: normal;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.skill-1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.top-container {
  background-color: #f1f3f8;
  position: relative;
  padding: 100px;
}


.bottom-container {
  background-color: #393b44;
  color: white;
  padding: 50px 0 20px;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 30px;
  width: 10%;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 300px;
  width: 10%;
}

.mountain{
  width: 30%;
  margin-top: 50px;
}

.btn {
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   font-weight: 100;
   padding: 11px;
   background-color: #393B44;
   text-shadow: 1px 1px 20px #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   background: #393B44;
   border: solid #8D93AB 1px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}

.contact-me {
  margin-bottom: 20px;
}

.cm{
  width: 50%;
  margin: auto;
}

.footer-link {
  color: #8D93AB;
  font-family: 'Montserrat', sans-serif;
  margin: auto 20px;
  text-decoration: none;
}

.footer-link:hover {
  color: white;
}

.copyright {
  color: #EAF6F6;
  padding-top: 20px;
  font-size: 0.7rem;
}
